body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px darkgray solid;
    padding: 1em;
}

#open-modal-btn {
    padding: 1em;
    border: none;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.status {
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 1em;
}

.unread {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 1em;
}

.remove-book {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 1em;
}